<h1>All restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant_path(restaurant) do %>
        <%= restaurant.name %>
      <% end %>
    || category: <%= restaurant.category %> </li>
  <% end %>
</ul>

  <div>
    <%= link_to "Add a restaurant", new_restaurant_path, class:"btn btn-primary" %>
  </div>
